{%extends display.mvc%}


{%block body_def%}
  <div class="wrapper">
    <div class="browser-logo"></div>
    <div class="browser-version">{%trans%}You are using{%endtrans%} <span>Browser</span></div>
    <div class="divider"></div>
    <div class="title">{%trans%}Try the latest versions of these browsers!{%endtrans%}</div>
    <div class="links">
      <div class="browser">
        <a href="http://www.getfirefox.com/">
          <div class="logo firefox"></div>
          <div class="text">Firefox</div>
        </a>
      </div>
      <div class="browser">
        <a href="http://www.opera.com/">
          <div class="logo opera"></div>
          <div class="text">Opera</div>
        </a>
      </div>
      <div class="browser">
        <a href="http://www.google.com/chrome">
          <div class="logo chrome"></div>
          <div class="text">Chrome</div>
        </a>
      </div>
    </div>
  </div>
{%endblock%}