{%extends display.mvc%}
{%block header_def%}{%endblock%}
{%block foot_js%}
 <script src="{{url.static}}js/script.js"></script>
{%endblock%}

{%block content_def%}

    <div class="header">
      <div class="container">
        <div class="row">
          <span><a href="http://www.deadbrowser.ir" class="bold">DeadBrowser</a> by <a href="http://www.ermile.com">Ermile</a></span>
        </div><!-- .row -->
      </div><!-- .container -->
    </div><!-- .header -->

    <div class="result">
      <div class="container">
        <div class="row">
          <div class="twelve columns">
            <div class="icon"></div>
            <h4 class="query"></h4>
          </div><!-- .twelve -->
        </div><!-- .row -->
      </div>
    </div><!-- .result -->

    <div class="browsers">
      <div class="container">
        <div class="row">
          <div class="offset-by-two eight columns">
            <h5>Try a different browser</h5>
            <ul class="browsers-ul">
              <li>
                <a href="#">
                  <span class="browser IE"></span>
                  <span class="browser-name">IE</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="browser Firefox"></span>
                  <span class="browser-name">Firefox</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="browser Chrome"></span>
                  <span class="browser-name">Chrome</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="browser Opera"></span>
                  <span class="browser-name">Opera</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="browser Safari"></span>
                  <span class="browser-name">Safari</span>
                </a>
              </li>
            </ul><!-- .browsers-ul -->
          </div><!-- .offset-by-two -->
        </div><!-- .row -->
      </div><!-- .container -->
    </div><!-- .browsers -->

{%endblock%}