/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v11/UyBMtLsHKBKXelqf4x7VRQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v11/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(http://fonts.gstatic.com/s/lato/v11/ObQr5XYcoH0WBoUxiaYK3_Y6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(http://fonts.gstatic.com/s/lato/v11/H2DMvhDLycM56KNuAtbJYA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Lato', sans-serif;
	background: #EAEBED;
}

h4 {
	color: #3A3A3A;
}

.header {
	padding: 20px 0;
	background: #FFF;
	-webkit-box-shadow: 1px 1px 5px 0 #C4C5C6;
	   -moz-box-shadow: 1px 1px 5px 0 #C4C5C6;
			box-shadow: 1px 1px 5px 0 #C4C5C6;
}

.header a {
	text-decoration: none;
	color: #3A3A3A;	
}

.header a:hover {
	text-decoration: underline;
}

.result {
	padding: 30px 0 20px;
}

.result .row {
	border-bottom: 1px solid #DADADA;
}

.icon {
	width: 128px;
	height: 128px;
	margin: 0 auto 20px;
}

.icon.IE {
	background: url('../img/ie128.png') no-repeat;
}

.icon.Firefox {
	background: url('../img/firefox128.png') no-repeat;
}

.icon.chrome {
	background: url('../images/chrome128.png') no-repeat;
}

.icon.Opera {
	background: url('../img/opera128.png') no-repeat;
}

.icon.Safari {
	background: url('../img/safari128.png') no-repeat;
}

.query {
	text-align: center;
	color: #3A3A3A;
}

.browsers {
	text-align: center;
}

.browsers-ul li {
	list-style: none;
	display: inline-block;
	padding: 15px;
}

.browsers-ul li a {
	text-decoration: none;
	color: #3A3A3A;
}

.browser {
	display: block;
	width: 64px;
	height: 64px;
}

.browser.IE {
	background: url('../img/ie64.png') no-repeat;
}

.browser.Firefox {
	background: url('../img/firefox64.png') no-repeat;
}

.browser.Chrome {
	background: url('../img/chrome64.png') no-repeat;
}

.browser.Opera {
	background: url('../img/opera64.png') no-repeat;
}

.browser.Safari {
	background: url('../img/safari64.png') no-repeat;
}

.browser-name {
	display: block;
	padding-top: 5px;
	color: #EAEBED;
	-webkit-transition: color .2s linear;
	   -moz-transition: color .2s linear;
	    -ms-transition: color .2s linear;
	     -o-transition: color .2s linear;
	        transition: color .2s linear;
}

.browsers-ul li a:hover .browser-name {
	color: #3A3A3A;
}

/*Helper Classes*/
.bold {
	font-weight: 700;
}

.header {
	width: 100%;
	height: 50px;
	background: #3E3E3E;
}

.table {
	width: 650px;
	margin: 0 auto;
}

.table img {
	display: block;
	margin: 0 auto;
}

.center {
	font-family: Tahoma, sans-serif;
	text-align: center;
}

/* IE 6 to 8 */
@media \0screen\,screen\9 {
    body { font-family: tahoma, sans-serif; }
}