/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}
/* Custom CSS */
body {
  font-family: 'Roboto Slab', sans-serif;
  background: #EAEBED;
}
.header {
  padding: 20px 0;
  background: #FFF;
  -webkit-box-shadow: 1px 1px 5px 0 #C4C5C6;
     -moz-box-shadow: 1px 1px 5px 0 #C4C5C6;
          box-shadow: 1px 1px 5px 0 #C4C5C6;
}
.header a {
  text-decoration: none;
  color: #3A3A3A; 
}
.header a:hover {
  text-decoration: underline;
}
.result {
  padding: 30px 0 20px;
}
.result .main-logo {
  margin-bottom: 15px;
}
h4, h6 {
  color: #3A3A3A;
}
h6 {
  font-size: 2em;
}
.message1 {
  margin-bottom: 15px;
}
.separator-line {
  border-bottom: 1px solid #DADADA;
  padding: 10px;
}
.browsers {
  text-align: center;
}
.browsers-ul li {
  list-style: none;
  display: inline-block;
  padding: 15px;
}
.browsers-ul li a {
  text-decoration: none;
  color: #3A3A3A;
}
.browser-name {
  display: block;
  padding-top: 5px;
  color: #EAEBED;
  -webkit-transition: color .2s linear;
     -moz-transition: color .2s linear;
      -ms-transition: color .2s linear;
       -o-transition: color .2s linear;
          transition: color .2s linear;
}
.browsers-ul li a:hover .browser-name {
  color: #3A3A3A;
}
.browsers.chrome li.chrome{
  display: none;
}
.browsers.msie li.msie{
  display: none;
}
.browsers.firefox li.firefox{
  display: none;
}
.browsers.opera li.opera{
  display: none;
}
.browsers.safari li.safari{
  display: none;
}

/*style for old browsers*/
.table {
  width: 650px;
  margin: 0 auto;
}

.table img {
  display: block;
  margin: 0 auto;
}

.center {
  font-family: Tahoma, sans-serif;
  text-align: center;
}