body {
  font-family: 'Roboto Slab', sans-serif;
  background: #EAEBED;
}
.header {
  padding: 20px 0;
  opacity: 0.7;
  font-size: 1.5em;
  background: #FFF;
  -webkit-box-shadow: 1px 1px 5px 0 #C4C5C6;
     -moz-box-shadow: 1px 1px 5px 0 #C4C5C6;
          box-shadow: 1px 1px 5px 0 #C4C5C6;
}
.header a {
  color: #3A3A3A;
  font-weight: 700;
}

#browser{
  text-align: center;
  z-index: 2;
  font-size: 1.7rem;

}
#browser-name{
  font-weight: bold;
  margin:20px 0 0 0;
  line-height: 2em;
}

#browser-version{
  font-size: 1.7em;
  line-height: 1em;
  margin-bottom: 1em;
}
#browser-msg{
  font-size: 1.1em;
  line-height: 1.5em;
}

#browser-img{
  position: fixed;
  bottom: 0;
  left: 0;
  margin-bottom: -11vh;
  margin-left: -11vh;
  width: auto;
  height:70vh;
  max-height: 50vw;
  z-index:-1;
}
.rtl #browser-img{
  left: inherit;
  right: 0;
  margin-left: auto;
  margin-right: -11vh;
}

#browsers{
  min-height: 50px;
  margin-top:50px;
  margin-bottom:200px;
}







.result {
  padding: 30px 0 20px;
}
.result .main-logo {
  margin-bottom: 15px;
  display: none
}
h4, h6 {
  color: #3A3A3A;
}
h6 {
  font-size: 2em;
}
.message1 {
  margin-bottom: 15px;
}
.separator-line {
  border-bottom: 1px solid #DADADA;
  padding: 10px;
}
.browsers {
  text-align: center;
}
.browsers-ul li {
  list-style: none;
  display: inline-block;
  padding: 15px;
}
.browsers-ul li a {
  text-decoration: none;
  color: #3A3A3A;
}
.browser-name {
  display: block;
  padding-top: 5px;
  color: #EAEBED;
  -webkit-transition: color .2s linear;
     -moz-transition: color .2s linear;
      -ms-transition: color .2s linear;
       -o-transition: color .2s linear;
          transition: color .2s linear;
}
.browsers-ul li a:hover .browser-name {
  color: #3A3A3A;
}
.browsers.chrome li.chrome{
  display: none;
}
.browsers.msie li.msie{
  display: none;
}
.browsers.firefox li.firefox{
  display: none;
}
.browsers.opera li.opera{
  display: none;
}
.browsers.safari li.safari{
  display: none;
}

/*style for old browsers*/
.table {
  width: 650px;
  margin: 0 auto;
}

.table img {
  display: block;
  margin: 0 auto;
}

.center {
  font-family: Tahoma, sans-serif;
  text-align: center;
}




#browsers{
  clear: both;
}
#browser-detail{
  position: absolute;
  bottom: 0;
  height: 350px;
  font-size: 1.7rem;
  margin-top:300px;
}









